<div class="page-header">
  <h1><%= @session.name %> for <%= @student.name %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Unit</th>
    <th>Composite score</th>
  </tr>
  </thead>
  <tbody>
  <% @session.units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, [@student, unit] %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>