div#canvas_container {
  width: 1170px;
  height: 400px;
  cursor: point;
  & > div {
    width: 1170px;
    height: 400px;
    overflow:hidden;
    position:absolute;
    canvas {
      position:absolute;
    }
  }
}

.new_user_session {
  label.remember {
    display: inline-block;
    margin: 5px;
  }
}

form.edit_user {
  li {
    list-style: none;
  }
  label {
    padding-left: 0px;
  }
}