// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// * {padding: 0; margin: 0}
html, body { height: 100%}
#map, .session-map { min-height: 500px; height: 100% !important;}

.fullscreen-map .session-map {height: 100% !important;}

.session-map {height: 400px}

.ela-map .leaflet-container {
  background: #4581b7;
}