// Place all the styles related to the units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.tdata {
  border-collapse: collapse;
  width: 100%;
  td {
    border:1px #ccc solid;
    padding: 2px 5px;
    &:first-child {
      text-align: center;
      width: 20px;
    }
  }
  th {
    &:first-child {
      text-align: center;
    }
    text-align: left;
    padding-top: 20px;
  }
}