<%- model_class = Text -%>
<div class="page-header">
  <h1>Texts</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>Unit</th>
      <th>Author</th>
      <th>Lessons</th>
      <th>Lexiles</th>
      <th>Sequence</th>
      <th>Genre</th>
      <th>Performance</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @texts %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_text_path,
            :class => 'btn btn-primary' %>
