<!DOCTYPE html>
<html>
<head>
  <title>ELA Maps: Islands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">ELA Map / Islands</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <li><a href="/sessions">Sessions</a></li>
          <li><a href="/tilemap">Tile map sample</a></li>
          <li><a href="/map">Map Mock-up</a></li>
          <li><a href="/hypsometries">Hypsometry</a></li>
          <li><a href="http://23.20.177.14/island-gen/" target="_blank">Voronoi generator</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /navbar-inner -->


</div>

<div class="container" style="padding-top: 50px">
<%= yield %>
</div>


</body>
</html>
